{% extends '_base.html' %}
{% block content %}
<form action="/users/{{ user.id }}/posts/new" method="POST">
  <label class="lbl" for="post-title">Title</label>
  <input class="inp" name="post-title" required placeholder="Enter title for post">
  <label class="lbl" for="post-content">Content</label>
  <textarea rows="5" class="inp" name="post-content" wrap="hard"></textarea>
  <input type="submit" class="btn btn-save" value="Add"></button>
</form>
<a href="/users/{{ user.id }}"><button class="btn">Cancel</button></a>


{% endblock %}